<div class="container mx-auto text-5xl font-extrabold self-auto text-center py-5">

  <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
    Consider Elixir
  </span>

  <div class="text-2xl text-white py-4">
    <p>Learn about the elegant Elixir programming language </p>
    <p>..and the Powerful Phoenix web framework.</p>
    <p class="py-3">Through targeted, practical tutorials and case studies.</p>
  </div>
</div>
